# Telegram
BOT_TOKEN=

# Superbanking
SUPERBANKING_API_KEY=
SUPERBANKING_CABINET_ID=
SUPERBANKING_PROJECT_ID=
SUPERBANKING_CLEARING_CENTER_ID=

# Redis
# Docker Compose: redis://redis:6379/0
# Local Python run: redis://localhost:6379/0
REDIS_URL=redis://redis:6379/0
